<ion-view view-title="{{viewtitle}}" class="stable-bg">
  <form name="aForm" novalidate="" ng-submit="aForm.$valid && signIn(aForm, data)">
    <ion-content>


      <div class="card">
        <div class="item item-text-wrap">

          <div class="list login-form">
          
            <input-validation
              value="E-mail" name="email" 
              form="aForm" model="data"
              inline="false" required="item.required"
              type="text"
              placeholder=""
              icon="icon ion-email placeholder-icon">
            </input-validation>

            <input-validation
              value="Senha" name="password" 
              form="aForm" model="data"
              inline="false" required="item.required"
              type="password"
              placeholder="Digite a senha"
              icon="icon ion-lock-combination placeholder-icon">
            </input-validation>

          </div>

          <div>
            <a class="waves-effect waves-light btn btn-large blue darken-1" ng-click="openRegisterUserModal()">
              <i class="icon ion-person-add left"></i>
              Cadastrar
            </a>

            <a class="waves-effect waves-light btn btn-large green accent-4 right">
              <i class="icon ion-chevron-right right"></i>
              Entrar
            </a>
          </div>


          <a class="fb-button waves-effect waves-light button-block btn btn-large blue darken-3">
            <i class="icon fa fa-facebook-official left"></i>
            Conectar com Facebook
          </a>

        </div>
      </div>


    </ion-content>



  </form>


</ion-view>