
.startup .sign_logo img {
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;

  left: 50%;
  -webkit-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn i.icon {
  font-size: 1.1rem;
}

/*.login-form .senha label {
  padding-bottom: 15px;
}*/

.item-input.input-field {
  padding-top: 20px;
  padding-bottom: 12px;
}

.item-input.input-field label {
  top: 26px;
}

.item-input.input-field label.active {
  top: 32px;
}

.fb-button {
  margin-top: 15px;
}

.bar-image {
  margin-right: 8px;
}

.div-image {
  float: left;
  border-right: solid 1px #616161;
  margin-right: 8px;
}

.register-modal {
  height: 348px;
}

.bar-dark {
  border-color: #444444 !important;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 350px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}

td-card .image {
  position: relative;
  text-align: center;
  height: 220px;
  margin-bottom: 10px;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
  max-height: 220px;
}


.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.card.tinder {
  box-shadow: none;
  padding-top: 0px;
  background-color: transparent;
}

.td-card .title {
  height: 20px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 35px;
  /*line-height: 0px;*/
  color: #444;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

td-card .accepted, td-card .declined {
  height: 0px;
  position: relative;
  top: -150px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
}


td-card .button-accept, td-card .button-decline {
  border-width: 1px 1px 1px 1px !important;
}

td-card .button-accept {
  margin-left: 10px;
}

td-card .button-decline {
  margin-right: 10px;
}


/* Toast */
.toast-bottom-center {
  margin-bottom: 20px;
}

#toast-container > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Validations */

/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0;
  margin-bottom: 8px;
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.form-errors.ng-inactive {
  display: none;
}

.item.item-input.has-error {
  border-bottom-color: red;
}
