
.startup .sign_logo img {
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;

  left: 50%;
  -webkit-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn i.icon {
  font-size: 1.1rem;
}

/*.login-form .senha label {
  padding-bottom: 15px;
}*/

.item-input.input-field {
  padding-top: 20px;
  padding-bottom: 12px;
}

.item-input.input-field label {
  top: 26px;
}

.item-input.input-field label.active {
  top: 32px;
}

.fb-button {
  margin-top: 15px;
}

.bar-image {
  margin-right: 8px;
}

.div-image {
  float: left;
  border-right: solid 1px #616161;
  margin-right: 8px;
}

.register-modal {
  height: 348px;
}